{% extends base_template %}
{% load i18n %}
{% block content %}
<section class="hero is-halfheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-8 is-variable ">
                <div class="column is-two-thirds has-text-left">
                    <h1 class="title is-1">{% trans "Change Password" %}</h1>
                    <p class="is-size-4">{% trans 'Your password has been changed. Please try to <a hx-get="/accounts/login/" hx-target="#content" hx-push-url="true">log in</a> again.' %}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}