{% extends base_template %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
 
    <section class="hero is-halfheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-8 is-variable ">
                    <div class="column is-two-thirds has-text-left">
                        <h1 class="title is-1">{% trans "Password Reset" %}</h1>
                        <p class="is-size-4">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                        <p class="is-size-4 mt-4">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                    </div>
                    <div class="column is-one-third has-text-left">
                        {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}
                        <form hx-post="{% url 'account_reset_password' %}" class="password_reset" hx-target="#content">
                            {% csrf_token %}
                            {{ form.as_div }}
                            <input class="button is-info" type="submit" value="{% trans 'Reset My Password' %}" />
                            <a class="button is-light has-shadow" hx-replace-url="true" hx-target="#content" hx-get="/accounts/login/">{% trans "Cancel" %}</a>
                        </form>
                    
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}