{% extends base_template %}
{% load i18n %}
{% block content %}
<section class="hero is-halfheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-8 is-variable ">
                <div class="column is-two-thirds has-text-left">
                    <h1 class="title is-1">{% trans "Verify Your E-mail Address" %}</h1>
                    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification e-mail in your main inbox, check your spam folder. Please <a hx-get="/contact" hx-target="#content" hx-push-url="true">contact us</a> if you do not receive the verification e-mail within a few minutes.{% endblocktrans %}</p>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}