{% extends base_template %}
{% block content %}
<section class="hero is-info is-medium is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
            Django with HTMX
            </h1>
            <h2 class="subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </h2>
        </div>
    </div>
</section>
<section class="section">
  <div class="container has-text-centered">
      <h2 class="title">Home</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas iste, earum, rem error a molestiae magnam placeat similique vel blanditiis nemo ducimus distinctio nostrum aliquam fuga et aperiam nulla eaque? Lorem
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam ex modi ea aspernatur officia facilis, omnis rem tenetur error placeat commodi hic cumque quos, itaque eum vitae pariatur. Pariatur, necessitatibus!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit distinctio optio dicta necessitatibus similique, reprehenderit minus quas officia temporibus! Quisquam eveniet iusto quidem inventore ad soluta culpa a saepe reiciendis. </p>
  </div>
</section>
{% endblock %}